

#card {
    margin-top: 20px;

}
/* added this */
.signInText{
    color: #4A4A4A;
}


#center {
    margin: auto;
    width: 50%;
   
    
}
.center{
    margin: auto;
    width: 100%;
}


.container {
	margin: 20px;
}
